/target
/package-build
/org.imaginaryinfinity.Squiid.json
generated-sources.json
.flatpak-builder/
/snapcraft.yaml
*.snap
.gitlab-ci-local/
squiid-installer.exe
flatpak-cargo-generator.py
*.buildinfo
*.changes
*.deb
*.tar.gz
.gitlab-ci-local-variables.yml
.vscode
site/